Versions/Pilot/Make Facebook Post-0_0_1.json
{
  "name": "Make Facebook Post",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "driveId"
            },
            {
              "name": "Post Text"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        0
      ],
      "id": "ede0cd28-f9a2-4c92-82be-974d52e7a4a2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me/photos",
        "edge": "feed",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('When Executed by Another Workflow').item.json['Post Text'] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "b9140ee1-89ba-4bcc-805f-bfdd934c36e8",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "31nfn50s9CNSZcaj",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.driveId }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        0
      ],
      "id": "af2b3138-85ea-402c-8440-85628a62852c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fs5iKhcCUZY4vMeW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.driveId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "98f37a68-d597-4431-a1f6-85c6ec24ea9f",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fs5iKhcCUZY4vMeW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a28cb9de-a70e-46ae-be00-ee3db3ee16bb",
              "name": "FacebookPostId",
              "value": "={{ $('Facebook Graph API1').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "bdb020fa-6118-4774-894b-194b945ea203",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4b84961-d6ee-4e4b-994e-da229f41e883",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "053e45b0046ccb91c38e2ee0d3d4af557a2910ad5008f78fd58dd7b29bacb45d"
  },
  "id": "A2vFe73gdjbc7alu",
  "tags": []
}